
{{ if and .Site.Params.location.latitude .Site.Params.location.longitude }}
<section id="location" class="no-padding">
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.location.headline_pl }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.location.headline_pl .Site.Params.location.description_pl }}
                    <hr class="light">
                {{ end }}
                {{ with .Site.Params.location.description_pl }}
                    <p class="text-faded">{{ . | markdownify }}</p>
                {{ end }}
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.location.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.location.headline .Site.Params.location.description }}
                    <hr class="light">
                {{ end }}
                {{ with .Site.Params.location.description }}
                    <p class="text-faded">{{ . | markdownify }}</p>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="hidden">
        <input id="gmap-lat" value="{{ .Site.Params.location.latitude }}" />
        <input id="gmap-lng" value="{{ .Site.Params.location.longitude }}" />
    </div>
    <a href="https://www.google.com/maps?z=16&q={{ .Site.Params.location.latitude }},{{ .Site.Params.location.longitude }}&ll={{ .Site.Params.location.latitude }},{{ .Site.Params.location.longitude }}">
        <div id="map">
            &nbsp;
        </div>
    </a>
</section>
{{ end }}
